$main-font: sans-serif;

$highlight1: hsl(0, 78%, 62%);
$highlight2: hsl(180, 62%, 55%);
$highlight3: hsl(34, 97%, 64%);
$highlight4: hsl(212, 86%, 64%);

$primary: hsl(234, 12%, 34%);
$secondary: hsl(229, 6%, 66%);
$third: hsl(0, 0%, 98%);
